.productCard {
    margin-bottom: 20px;
    padding: 10px
}

.productImage {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.titleProductCard{
    text-decoration: none;
    color: black;
}

.gluten {
    width: 12%
}